html {
	background-color: #f2fafc;
	font-family: 'Montserrat', sans-serif;

	

}

body {
	display: grid;
	grid-template-columns: 30% auto;
	grid-template-rows: 100% ;
	min-height: 100vh;
	min-width:auto;

}

#logo {
	font-family: 'Montserrat', sans-serif;
}

#artigo,
#lista-de-artigos,
#pagina-inicial {
	background-color: #eeedf3;
	right: 10%;
	height: 100%;
	margin-top: 10px;
	margin-left: 20px;
	padding-left: 5%;
	padding-right: 1%;
	padding-top: 1%;

	grid-column: 1 2;
}




.lista-de-artigos>ul {
	margin-top: 100px;
	padding-left: 20px;

}


#explorador-de-artigos {
	background-color: #1a6efc;
	left: 5%;
	min-width: 25%;
	max-width: 35%;
	height: auto;
	margin-left: 45px;
	margin-right: 45px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 1%;
	color: whitesmoke;
	grid-column: 0 1;
	position: sticky;
}




#explorador-de-artigos a {
	display: block;
	margin-bottom: 20px;
	color: whitesmoke;
}

.artigo p {
	margin: 0 0 0 20px;
	font-size: 18px;
}

#pagina-inicial h1 {
	background-color: yellow;
	font-size: 45px;
}

#pagina-inicial h1 {
	background-color: rgb(83, 80, 255);
	text-align: center;
}

#conteudo-principal h2 {
	background-color: rgb(215, 248, 250);
	text-align: center;
}


#titulo-do-artigo {
	margin-left: 50px;
}

h2, h3 {
    font-family: 'Montserrat', sans-serif;
    color: #0b57d0; 
}

h2 {
	font-size: 32px; 
	font-weight: 700; 
	margin-bottom: 20px; 
}

h3 { 
	font-size: 24px; 
	font-weight: 600; 
	margin-bottom: 15px; 
}

p {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8;
    color: #333333;
}





@media (max-width: 600px){
	body{
		grid-template-columns: auto;
		grid-template-rows: auto auto ;
	}

	#artigo,
	#lista-de-artigos,
	#pagina-inicial {

		grid-column: 0 1;
		grid-row: 1 2;

	}

	#explorador-de-artigos {
		background-color: #1a6efc;
		left: 5%;
		min-width: 30%;
		max-width: max-content;
		height: auto;
		margin-left: 45px;
		margin-right: 45px;
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 1%;
		color: whitesmoke;
		grid-column: 0 1;
		position: sticky;
		height: min-content;
	}
	

	
	
}